
<section class="about_us_one cool_facts_area section_padding_100_70 bg-flat-green">
    <div class="container">
        <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <!-- cool facts section -->
                    <div class="cool_fact_text wow fadeInUpBig" data-wow-delay=".2s">
                        <h2><span class="counter">20</span>+</h2>
                        <h5>Years of experience</h5>
                    </div>
                </div>
                <!-- cool facts section -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="cool_fact_text wow fadeInUpBig" data-wow-delay="0.4s">
                        <h2><span class="counter">800</span>+</h2>
                        <h5>Happy Scholars</h5>
                    </div>
                </div>
                <!-- cool facts section -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="cool_fact_text wow fadeInUpBig" data-wow-delay="0.6s">
                        <h2><span class="counter">9</span></h2>
                        <h5>Team Members</h5>
                    </div>
                </div>
            </div>
        </div>
</section>
