
<section class="about_area section_padding_100_70 jarallax">

    <div class="container">
        <div class="about_us_area">
            <div class="row">
                <div class="col-12 col-lg-6 item">
                    <div class="about_us_text">
                        {{ ase_about| safe }}
                    <a href="/news_feeds" class="btn btn-pill btn-mat-orange">Learn More</a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 item">
                    <div class="about_us_thumb m-md-top-50">
                        <iframe width="110%" height="400" src="https://www.youtube.com/embed/poMtRnEOU0I?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>