{% load static %}

<section class="breadcumb_area background-overlay section_padding_50" style="background-image: url({% static 'images/breadcumb.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-12">
                    <div class="breadcumb_section">
                        <div class="page_title">
                            <h4>{{ page.title }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>